streamlit
pandas
matplotlib
seaborn
fpdf
Pillow
openai
langchain
langchain-community
scikit-learn
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
streamlit
langchain_google_genai
reportlab

